/* ngFor */
.cerchioVerde {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-right: 10px;
}
.cerchioRosso {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-right: 10px;
}

/* ngStyle && ngClass */
.cerchio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: blue;
  margin-right: 10px;
  text-align: center;
}

/* ngClass */
.cerchioOnline {
  background-color: green;
  color: white;
}
.cerchioOffline {
  background-color: red;
  color: orange;
}

li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  list-style: none;
}

li > p {
  margin-bottom: 0;
}
