<app-binding></app-binding>
<app-direttive></app-direttive>

<!-- passare dati dal parent al child  && dal vhild al parent con mandaDatiEvento()-->
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
  <app-passare-dati [data]="persone" (mandaDatiEvento)="onRiceviDati($event)"></app-passare-dati>
  <button mat-raised-button (click)="onClick()" style="margin-top: -40px;">Cambia</button>
</div>
<hr>

<app-variabili-template></app-variabili-template>

<!-- crea direttive -->
<h2 [appCreaDirettive]="colore" defaultColor="blue" style="text-align: center;">crea direttive</h2>
  <div style="display:flex; justify-content: center; align-items:center">
    <input type="radio" name="coloreEvidenziatore" (click)="cambiaColoreEvidenziatore('red')">rosso
    <input type="radio" name="coloreEvidenziatore" (click)="cambiaColoreEvidenziatore('pink')">rosa
    <input type="radio" name="coloreEvidenziatore" (click)="cambiaColoreEvidenziatore('purple')">viola
  </div>
<hr>

<app-funzioni-pipe></app-funzioni-pipe>
<app-service-prova></app-service-prova>

<!-- routing -->
 <h2 style="text-align:center;">Routing</h2>
 <a routerLink="/" style="margin-right: 10px;">Home</a>
 <a routerLink="contatti" style="margin-right: 10px;">Contatti</a>
 <router-outlet></router-outlet>
<hr>

<!-- observable -->
 <!-- <app-observable></app-observable> -->

 <app-driven-form></app-driven-form>